
<div class="row">
  <div class="col p-0">

    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>

    <ul class="list-group list-group-flush faculty-list border" id="myList">
      {% assign teachers = site.faculty | sort: "key" %}
      {% for teacher in teachers  %}
      <a href="{{ site.baseurl }}/faculty/{{ teacher.key }}" class="list-group-item list-group-item-action">
        {{ teacher.information.name }}
      </a>
      {% endfor %}
    </ul>


  </div>
</div>