---
layout: default
---

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">

      <a href="{{ site.baseurl }}/" class="text-decoration-none text-dark">
        <div class="sidebar-heading pt-5 pb-0">
          <h2 class="text-center">Swan Valley High School</h2>
          <p class="lead text-center">2020 Virtual Open House</p>
        </div>
      </a>

      <hr/>

      <div class="card border-0">
        <div class="card-header bg-white border-0 pb-1">
          <span class="material-icons align-middle">person_search</span> Find your teacher!
        </div>
        <div class="card-body pt-1">
          {% include faculty_list_filter.html %}
        </div>
      </div>

      <hr/>

  </div>
  <!-- /#sidebar-wrapper -->

  <div id="page-content-wrapper">

    <div class="jumbotron jumbotron-fluid py-4" id="faculty-jumbotron">
      <div class="container">
        <!-- <div class="d-flex justify-content-center"> -->

          <div class="row">
            <div class="col d-flex justify-content-end">
              <a class="btn btn-warning" href="{{ site.baseurl }}/"> <span class="material-icons align-middle">house</span> </a>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-center">
              <h1 class="display-3">{{ page.information.name }}</h1>
            </div>
          </div>
          <!-- <hr> -->

        <!-- </div> -->
      </div>
    </div>

    <div class="container">

      {% for course in page.information.courses %}

        <div class="row pb-2">
          <div class="col">

            <div class="card">
              <div class="card-header">
                {{ course.name }}
              </div>
              <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{ course.video }}" allowfullscreen></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>


      {% endfor %}

    </div>

  </div> <!-- /#page-content-wrapper -->

</div> <!-- /#wrapper -->